<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>college()</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <header class="title-img">
        <div class="header-div">
            <div class="title-div">
                <ul class="list-div">
                    <li class="a">c</li>
                    <li class="b">o</li>
                    <li class="c">l</li>
                    <li class="d">l</li>
                    <li class="e">e</li>
                    <li class="f">g</li>
                    <li class="g">e</li>
                    <li class="h">(</li>
                    <li class="i">)</li>
                </ul>
            </div>
            <div class="option-div">
                <a href="/events" class="events-btn">Events</a>
                <!-- <a href="/register" class="register-btn">Register</a> -->
                <!-- <button class="result-btn">Result</button> -->
                <!-- <button class="add-btn">Admin Login</button> -->
                <a href="/show-result-events" class="result-btn">Result</a>
                <a href="/login" class="add-btn">Admin Login</a>
            </div>
        </div>
        <div class="sub-title">
            <h1>College Fests & Events</h1>
            <h1>Uploading & Registering Platform</h1>
        </div>
    </header>
    <div class="middle-div">
        <div class="quote-div">
            <p>
                There is a time and place for everything.
            </p>
            <p>
                That is college!
            </p> 
            <p>
                And college life is best experienced in college events!
            </p>
        </div>
        <div class="reg-btn">
            <a href="/events">Register Now >>></a>
        </div>
        <div class="details-div">
            <p>
                A standout amongst the most noteworthy occasions of college life is the college 
                fest. They are meant to be unforgettable. Organizing a college fest is a momentous 
                accomplishment and the diligent work pays off when you feel the happiness on the 
                essences of your mates and educators. Planning out a fest isn’t only an obligation 
                of few because to be fruitful it needs to draw in the student crowd from different 
                colleges in huge numbers. 
            </p>
            <p>
                When so much has gone into setting up an incredible show, it is similarly essential 
                to recognize the endeavors: be it money related or the thoughts. A post-review session 
                is the place where this should happen. Thank the sponsors, college administration, your 
                professors, all the suppliers, and the volunteers. Everyone deserves a pat on the back.
            </p>
        </div>
    </div>
    
    <div class="popup-div1">
        <form name="resultForm" action="/home" method="POST">
            <div class="email-div">
                <input type="text" name="email" class="email" placeholder="Enter your e-mail" required />
            </div>
            <div class="event-name-div">
                <input type="text" name="eventName" class="event-name" placeholder="Select the event you registered" required />
            </div>
            <div class="submit-div">
                <button type="submit" class="submit-btn">Submit</button>
            </div>
            <div class="cancel1-div">
                <button type="button" class="cancel-btn1" onclick="hidePopup1()">Cancel</button>
            </div>
        </form>
    </div>
    <div class="popup-div2">
        <form name="adminForm" action="/admin" onsubmit="return adminValidateForm()">
            <div class="user-name-div">
                <input type="text" name="userName" class="user-name" placeholder="Enter user name" required />
            </div>
            <div class="psw-div">
                <input type="password" name="password" class="password" placeholder="Enter password" required />
            </div>
            <div class="login-div">
                <button type="submit" class="login-btn">Login</button>
            </div>
            <div class="cancel-div">
                <button type="button" class="cancel-btn2" onclick="hidePopup2()">Cancel</button>
            </div>
        </form>
    </div> 
    <div class="validation-label-div">
        <label class="notValidLabel"></label>
    </div>

    <div class="bottom-div">
    </div>

    <script>
        //popups for result and admin login:
        let validationLabel = document.querySelector(".notValidLabel");

        let result_btn = document.querySelector(".result-btn");
        result_btn.onclick = displayPopup1;
        
        function displayPopup1() {
            validationLabel.innerText = "";
            document.querySelector(".popup-div2").style.display = "none";
            document.querySelector(".popup-div1").style.display = "block";
            window.scrollTo(0,780);
        }

        function hidePopup1() {
            validationLabel.innerText = "";
            console.log("cancel");
            document.querySelector(".popup-div1").style.display = "none";
        }

        let add_btn = document.querySelector(".add-btn");
        add_btn.onclick = displayPopup2;
        
        function displayPopup2() {
            validationLabel.innerText = "";
            document.querySelector(".popup-div1").style.display = "none";
            document.querySelector(".popup-div2").style.display = "block";
            window.scrollTo(0,780);
        }

        function hidePopup2() {
            validationLabel.innerText = "";
            console.log("cancel");
            document.querySelector(".popup-div2").style.display = "none";
        }
    
        //verifying student login:
        //function resultValidateForm() {
        //    validationLabel.innerText = "";
        //    let email = document.resultForm.email.value;
        //    let eventName = document.resultForm.eventName.value;
        //    console.log(email,eventName);
        //    if(email == "abc@gmail.com" && eventName == "abc") {
        //        validationLabel.innerText = "";
        //        //document.resultForm.email.value = "";
        //        //document.resultForm.eventName.value = "";
        //        return true;
        //    }
        //    else {
        //        document.resultForm.email.value = "";
        //        document.resultForm.eventName.value = "";
        //        validationLabel.innerText = "Email / Event name is wrong"
        //        return false;
        //    }
        //}

        //verifying admin login:
        // function adminValidateForm() {
        //     validationLabel.innerText = "";
        //     let userName = document.adminForm.userName.value;
        //     let password = document.adminForm.password.value;
        //     console.log(userName,password);
        //     if(userName == "abc" && password == "abc") {
        //         validationLabel.innerText = "";
        //         document.adminForm.userName.value = "";
        //         document.adminForm.password.value = "";
        //         return true;
        //     }
        //     else {
        //         document.adminForm.userName.value = "";
        //         document.adminForm.password.value = "";
        //         validationLabel.innerText = "User name / Password is wrong"
        //         return false;
        //     }
        // }
    </script>
</body>
</html>

    <!-- <style>
        body {
            padding: 0px;
            margin: 0px;
            background-color:black;
        }
        .title {
            border-bottom: grey dotted 1px;
        }
        .title > * {
            display: inline-block;
            vertical-align: top;
        }
        .title-img > img{
            width: 15rem;
            height: 15rem;
        }
        .title > h1 {
            color:black;
            font-size: 80px;
            text-shadow: 2px 2px 6px orange;
            transform:rotate(0deg);
            padding: 4rem 3.5rem 5rem 1.5rem;
            margin: 10px 0px 0px 0px;
        }
        .bg-img {
            background-image: url(./static/skyCracker.png);
            background-size: 100%;
        }
        .word-cloud-div {
            width: 35%;
        }
        .admin-btn {
            background-color: black;
            color: orangered;
            box-shadow: palegoldenrod 1px 1px 6px 1px;
            font-size: 20px;
            margin: 1rem 1rem 0rem 20rem;
        }
        
        .main-container > div {
            display: inline-block;
            text-align: center;
            margin-top: 30px;
            margin-bottom: 50px;
            width: 15%;
        }
        .btn-container > button {
            font-size: 20px;
            background-color: black;
            color: red;
            border-radius: 0.4rem;
            border-color: rgb(245, 153, 61);
            box-shadow: rgb(245, 139, 34) 2px 2px 5px 0px;
            padding: 0.5rem;
        }
        .btn-container {
            margin: 0px 25%;
            vertical-align: top;
        }
        .register-btn {
            margin: 80% 0%;
        }
        .img-div1 .img-div2 {
            width: 30px;
        }
        .img-div1 > img, .img-div2 > img {
            width: 100px;
        }
        .img-div1 > .img4, .img-div2 > .img3 {
            margin: 20% 0px;
        }
    </style> -->

    <!-- <div class="title"> -->
        <!-- <div class="title-img">
            <img src="./static/skyCracker.png" alt="">
        </div> -->
        <!-- <h1 class="bg-img">Event</h1>        
        <img src="./static/wordCloud.png" alt="" class="word-cloud-div">
        <button class="admin-btn">Admin Login</button>
    </div>
    
    <div class="main-container">
        
        <div  class="btn-container">
            <button class="event-btn">Events</button>
            <button class="register-btn">Register Now</button>
            <button class="result-btn">View Result</button>
        </div>
        <div class="img-div1">
            <img src="./static/event2.png" alt="">
            <img class="img4" src="./static/event4.png" alt="">
            <img src="./static/event6.png" alt="">
        </div>
        <div class="img-div2">
            <img src="./static/event1.png" alt="">
            <img class="img3" src="./static/event3.png" alt="">
            <img src="./static/event5.png" alt="">
        </div>
    </div> -->

<!-- .btn-container button {
    font-size: 20px;
    background-color: orange;
    color: brown;
    border-radius: 0.4rem;
    border-color: yellow;
    box-shadow: rgb(245, 244, 243) 2px 2px 5px 0px;
    padding: 0.5rem;
} -->

<!-- .admin-btn {
position: fixed;
right: 20px;
top: 20px;
} -->

<!-- width: 750px;
height: 250px; -->
<!-- 17.5rem -->

<!-- <h1><span>c</span><span>o</span><span>l</span><span>l</span><span>g</span><span>e</span><span>(</span><span>)</span></h1> -->
